__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

.env
.venv/
venv/
env/
stormer_mamba_env/

.vscode/

dataset/
experiments/
artifacts/
logs/
wandb/
build/
dist/

*.log
*.out
*.err

*.pdf
*.html
*.doc
*.docx
*.ppt
*.pptx

.DS_Store
